<!-- template driven form -->
<div class="p-8 mt-8 flex justify-center">
    <form class="shadow border w-6/12 p-4 " (ngSubmit)="addProduct()">
        <div class="flex flex-col">
            <mat-form-field class="w-full">
                <input matInput name="name" [(ngModel)]="product.name" placeholder="enter product name"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="brand" [(ngModel)]="product.brand"placeholder="enter brand name"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="image"[(ngModel)]="product.image" placeholder="enter image"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="currentPrice" [(ngModel)]="product.currentPrice"placeholder="enter curret price"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="standardPrice"[(ngModel)]="product.standardPrice" placeholder="enter standard price"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="discount" [(ngModel)]="product.discount"placeholder="enter discount"/>
            </mat-form-field>
        </div>
        <div class="flex">
            <button type="submit" mat-raised-button color="accent">Add</button>
        </div>
    </form>
</div>