<!-- reactive form no ngmodel -->
<div class="p-8 mt-8 flex justify-center">
    <form [formGroup]="productForm" class="shadow border w-6/12 p-4 " (ngSubmit)="editProduct()">
        <div class="flex flex-col">
            <mat-form-field class="w-full">
                <input matInput name="name" formControlName="name" placeholder="enter product name"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="brand" formControlName="brand" placeholder="enter brand name"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="image" formControlName="image" placeholder="enter image"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="currentPrice" formControlName="currentPrice" placeholder="enter curret price"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="standardPrice" formControlName="standardPrice" placeholder="enter standard price"/>
            </mat-form-field>
            <mat-form-field class="w-full">
                <input matInput name="discount" formControlName="discount" placeholder="enter discount"/>
            </mat-form-field>
        </div>
        <div class="flex">
            <button type="submit" mat-raised-button color="accent">Save</button>
        </div>
    </form>
</div>