<mat-card class="shadow">
    <img mat-card-image class="!h-70" [src]="product.image">
    <div class="p-4">
        <h1>{{product.name}}</h1>
        <!-- using pipe to change to uppercase -->
        <h2>{{product.brand|uppercase}}</h2>
        <div class="flex gap-2">
            <span>{{product.currentPrice|rupee}}</span>
            <span><s>{{product.standardPrice|rupee}}</s></span>
            <span>({{product.discount}}%) OFF</span>
        </div>
        <div class="flex justify-center pt-5">
            <button mat-raised-button color="primary" (click)="view()">View</button>
        </div>
    </div>
</mat-card>